

.card {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    transition: box-shadow 0.3s; 
    
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .card-title {
    font-size: 1.2rem; 
    font-weight: bold;
  }
  
  .card-text {
    color: #555; 
  }
  
  .button-group {
    margin-top: 10px; 
  }
  
  .button-group button {
    margin-right: 10px;
    margin-top: 10px; 
   
  }
  